@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
/*font-family: 'Manrope', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

body{
    display: flex;
    flex-direction:column;
}

.forheader {
    background-color:#282C62;
    width: 100vw;
    margin: -10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}
.forheader img{
    width: 100%;
    height: 20%;
}
.formain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.back, .back1, .back2, .back3, .back4, .back5, .back6 {
    height: 140px;
    width: 42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 30px;
    margin: 5px;
    margin-top: 25px;
}
.back img, .back1 img, .back2 img, .back3 img, .back4 img, .back5 img, .back6 img {
    width: 100px;
    height: 80px;
}
.back{
    background-color: #4EC0E7;
}
.back1{
    background-color: #59A578;
}
.back2{
    background-color: #8B7ACC;
}
.back3{
    background-color: #3AAA35;
}
.back4{
    background-color: #E53061;
}
.back5{
    background-color: #EC6856;
}
.back6{
    background-color: #F9BA51;
}
.back3 a{
    font-size: 12px;
}
.back6 a{
    font-size: 14px;
}
.link {
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}